*{
    margin: 0px;
    padding: 0px;
}
h2{
    font: 30px 'RobotoBold';
    color: #566366;
    text-transform: uppercase;
    margin-bottom: 37px;
}
h3{
    font: 22px 'RobotoBold';
    color: #566366;
    text-transform: uppercase;
}
p{
    font: 18px 'RobotoRegular';
    color: #919191; 
    margin-bottom: 37px;
    
}
.link-text {
    display: inline-block;
    text-decoration: none;
    font: 18px 'RobotoBold';
    text-transform: uppercase;
    padding: 15px 35px;
   } 
a:hover{
    text-decoration: none;
}   
/*------------section1---------------*/
#carousel-example-generic{
   position: relative; 
}
.slider img {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#carousel-example-generic .carousel-indicators {
    width: 12px;
    padding: 0;
    right: 14%;
    left: inherit;
    margin-left: 0;
    margin-bottom: 2%;
}
.carousel-indicators li{
	width: 10px;
    height: 10px;
    color: transparent;
    text-decoration: none;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    display: inline-block;
    text-indent: 1000px;
    overflow: hidden;
}
.carousel-indicators li.active{
	background-color: #fff;
}

.slider .text{
	margin-top: -47%; 
}
.slider .text h1{
    font: 60px 'RobotoBold';
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: 8%;
}
.slider .link-text{
    color: #fff;
    border: 2px solid #fff;

}


.slider a.active,
.slider a:focus,
.slider a:active,
.slider a:hover{
    background: #fff;
    
}

/*------------------section2-----------------*/
.navbar .navbar-default{
    margin-bottom: 0px ;
}
.navbar-default{
    background-color: #252e30;
    border: 0px;
    border-radius: 0px;
}
button.mini{
    margin-top: 23px;
}
.navbar-collapse{
    padding-left: 0px;
    margin-left: 47px;
}
 .navbar  img{
    margin: 18px 0px;
    padding-left: 20px;
}
.nav{
    margin: 15px 0px;
}
.nav>li {
    margin-right: -10px;
}
.nav a{
    margin-right: 20px;
 } 
.navbar-default{
    margin-bottom: 0px;
}  
.navbar-default .navbar-nav>li>a {
    font: 16px 'RobotoBold';
    color: #fff;; 
}
.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:hover{
    color: #298652;
}
/*-------------section3------------------------*/
#home{
    margin: 0 auto;
    background: #fff;
}
 #home .text1_1{
    
    margin: 70px 0 60px 0px;
}
.col_middle{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px; 
}
a#up {
 display: none;
 position: fixed;
  
 margin-left: calc(-91% - 4em); 
 padding: 100% 1% 0 99%;
 bottom: 0;
 font: 18px/100% 'RobotoBold', sans-serif;
 text-decoration: none;
 color: #bbb;
 -webkit-transition: 1s;
 transition: 1s;
}
a#up:before {
 position: absolute;
 content: url(../img/up.png);
 margin: -130px 0 0 60px;
}


a#up:hover {color: #000; background-color: rgba(0,0,0,.3);}

/*--------------------section4--------------------*/
#about_me {
    background: #f2f2f1;
}

#about_me .col-left{
    padding-right: 0px;
}
.col-left img {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background-size: cover;
}
#about_me .text-header {
    margin-top: 70px;
    margin-bottom: 30px;
    padding-left: 20px;
    
}
#about_me h3{
    margin: 0px 0px 18px 0px;    
    padding-top: 0px;
}
#about_me .icon {
    float: left;
    margin-right: 25px;
    margin-top: 6px;
}
.text-icon{
    margin-left: 65px;
}

#about_me .text-header .top{
    margin-bottom: 25px;
}
.text-top{
    margin-left: 70px;
    margin-bottom: 10px;
}
.text-bottom{
    margin-left: 70px;
    margin-bottom: 60px;
}

/*--------------------section5----------------------*/
#skills{
    background-color: #fff;
 }
.diagramN{
    margin-top: 70px;
    margin-bottom: 70px;
 }
.diagramN h2{
    margin-bottom: 50px;
    padding-left: 27px;
}
.diagramN p{
    margin-bottom: 30px;
    padding-left: 27px;
} 
.skill{
    padding-left: 32px;
}
.diagramN .cube{
    width: 560px;
    height: 30px;
}
.diagramN .link-text{
    border: 2px solid #2ecc71;
    color: #2ecc71;
    margin-top: 25px;
    margin-left: 27px;
}
.diagramN .link-text:hover{
    background: #2ecc71;
    color: #f2f2f1;
} 
.diagramN .cube1{
    background: -webkit-linear-gradient(left, #2ecc71 90%, #f2f2f1 10%);
    background: -o-linear-gradient(left, #2ecc71 90%, #f2f2f1 10%);
    background: linear-gradient(to right, #2ecc71 90%, #f2f2f1 10%);

}
.diagramN .cube2{
    background: -webkit-linear-gradient(to right, #2ecc71 80%, #f2f2f1 20%);
    background: -o-linear-gradient(to right, #2ecc71 80%, #f2f2f1 20%);
    background: linear-gradient(to right, #2ecc71 80%, #f2f2f1 20%);
}
.diagramN .cube3{
    background: -webkit-linear-gradient(to right, #2ecc71 70%, #f2f2f1 30%);
    background: -o-linear-gradient(to right, #2ecc71 70%, #f2f2f1 30%);
    background: linear-gradient(to right, #2ecc71 70%, #f2f2f1 30%);
}
.cube1 span{
    padding-left: 84%;
    vertical-align: middle;
    line-height: 2;
}
.cube2 span{
    padding-left: 74%;
    vertical-align: middle;
    line-height: 2;
}
.cube3 span{
    padding-left: 64%;
    vertical-align: middle;
    line-height: 2;
}
.cubeDiagram{
    padding-top: 55px;
}
.cubeDiagram .cube{
 margin-bottom: 28px;
}
/*-------------------section6----------------------*/

#resume .resume{
    display: inline-block;
    background: #f2f2f1;
    position: relative;
} 
.resume::after{
    content:'';
    position:absolute;
    left: 50%;
    margin-left: -60px;
    bottom: -80px;
    border: 60px solid transparent; 
    border-top: 20px solid #f2f2f1;
}
.resumeText{
    margin: 70px 0px 100px 0px;
}
.resumefirst{
    padding-right: 25px;
}    
.resumeLeft{
    padding-left: 47px;
    padding-right: 0px;
}
.resume .link-text{
    border: 2px solid #2ecc71;
    color: #2ecc71;
    margin-top: 25px;
    margin-left: 27px
 }
.resume .link-text:hover{
    background: #2ecc71;
    color: #f2f2f1;
} 
 .work .resumeLeft{
    padding-left: 49px;
 }
 
 .educationR{
    margin: 65px 0px 55px 0px;
    
}
hr{
    margin-left: 196px;
    width: 76%;
    border: none; 
    background-color: #ccc; 
    color: #ccc; /* Цвет линии для IE6-7 */
    height: 2px; 

   }

.resumeRight{
    padding-right: 55px;
    padding-left: 18px;
    margin-top: 75px;
}
 .resumeRight .gpa{
    background: #2ecc71 ;
    color: #fff;
    padding: 5px 10px;
    
 }
.resumeRight .college{
    font: 18px 'RobotoMedium';
}
.resumeRight .year{
    margin-bottom: 20px;
}
 .resumeRight .atGpa{
    border-top: 2px solid #ccc;
    padding-top: 30px;
}
 .work{
    margin: 70px 0px 60px 0px;
}
/*----------------------section7-----------------------*/
#testimonials{
    background: #f2f2f1;
}

.bx-viewport {
    margin-top: 95px;
    margin-bottom: 125px;
    position: static; 
    border: 0 !important; 
    -webkit-box-shadow: none !important; 
    box-shadow: none !important;
     background: #f2f2f1 !important;
     filter:none !important;/* для IE*/
} 
.bx-pager{
    display: inline-block;
}  
.bx-pager-item{
    display: inherit;
}  
.bx-controls-direction{
    display: none;
}
.bx-wrapper .bx-pager{
    right: 0%;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #f2f2f1 ;
}    
.bx-pager-link{
    width: 10px;
    height: 10px;
    color: transparent;
    text-decoration: none;
    border: 2px solid #2ecc71;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    text-indent: 1000px;
    margin: 5px 12px 100px 0px;
}
#testimonials a.active,
#testimonials a:focus,
#testimonials a:active,
#testimonials a:hover{
    background-color: #2ecc71;
}
/*-----------------------------section8-----------------------*/
.topPortfolio{
    margin-top: 70px;
    margin-bottom: 40px;
}
 .gallery img{
    margin: 18px;
    display:inline-block;
}
.bottomportfolio{
    margin-bottom: 80px;
}



/*------------------------------section9--------------------*/
#contact{
    background: #252e30;
} 
 .contact {
    color: #fff;
 }
.contact_meForm{
    padding-left: 25px;
    margin-top: 75px;
}  
 #contact p span{
    color: #fff;
    margin-right: 40px;
 }
#contact p span.phone{
    margin-right: 35px;    
}
.contact_meLeft{
    padding-left: 5px;
    padding-right: 0px;
}
.meLeft{
    padding-right: 28px
}

.formTop{
    margin-top: 70px;
    margin-bottom: 100px;
}
.form-group{
   margin-bottom: 35px;
}
label{
    font: 18px 'RobotoRegular';
    color: #fff;
}
.form-control{
    height: 60px;
    border: 0px;
    border-radius: 0px;
    color: #fff;
    background-color: #4b5456;
}
textarea{
    background-color: #4b5456;
    color: #fff;
    border: 0px;
}
.areatext{
    color: #fff;
    margin-bottom: 15px;
}
#contact .btns{
    font: 18px 'RobotoBold';
    color: #fff;
    background-color: #191f21;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0px;
    padding: 15px 35px;
}
#contact .btns:hover { 
    background: #4b5456;
    color: #191f21;
}
.footer{
    background: #191f21;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(30,30,30,1);
    -moz-box-shadow: 0px 5px 7px 0px rgba(30,30,30,1);
    box-shadow: 0px 5px 7px 0px rgba(30,30,30,1);
 }
 .footers{
    margin: 45px 0px;
}
.footers p{
    font: 14px 'RobotoMedium';
    text-transform: uppercase;
}
.icons{
    background: url(../img/social.png);
    width: 34px;
    height: 34px;
    display: inline-block;
    margin-right: 5px;
    transition: all .0s;
}
.tw-ico{
    background-position: 0 0;
}
.tw-ico:hover{
    background-position: 0 -34px;
}

.fb-ico{
    background-position: -44px 0;
}
.fb-ico:hover{
    background-position: -44px -34px;
}
.pnt-ico{
    background-position: -88px 0;
}
.pnt-ico:hover{
    background-position: -88px -34px;
 }
.gl-ico{
    background-position: -132px 0;
}
.gl-ico:hover{
    background-position: -132px -34px;
}
.drb-ico{
    background-position: -176px 0;
}
.drb-ico:hover{
    background-position: -176px -34px;
}
.in-ico{
    background-position: -220px 0;
}
.in-ico:hover{
    background-position: -220px -34px;
}

    /*-----------------------------------------------*/
@media screen and (max-width: 1510px) {                                                                                                                              
    .gallery .img-responsive{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    width: 304px;
 }
} 
@media screen and (max-width: 1199px) {
    .slider .text h1{
   font-size: 56px;
 }  
    .diagramN .cube{
    width: 450px;
    height: 30px;
 }
    hr{
    width:  74%;
    margin-left: 150px;
 }
    .gallery .img-responsive{
    width: 223px;
 }
}      
 @media screen and (max-width: 991px) {
                                                                                                                
    .slider .text h1{
      font-size: 45px;
 }
    .navbar  img{
      padding-left: 0px;
    
 }
    .nav a{
      margin-right: 0px;
 }
    #bs-navbar-collapse-1{
      margin-left: 110px;
      padding-right: 0px;
 }
    
    .colnav{
      padding-left: 25px;
      text-align: left;
 }
    .gallery .img-responsive{
    width: 202px;
 }
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
@media screen and (max-width: 768px) {                                                                                                                              
    .slider .text h1{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    font-size: 30px;
 }
  #bs-navbar-collapse-1{
      margin-left: 0px;
      padding-right: 0px;
 }
 hr{
     width:  92%;
     margin-left: 30px;
 }
 .gallery .img-responsive{
    width: 366px;
 }
} 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
@media screen and (max-width: 505px) {
    #bs-navbar-collapse-1{
      margin-left: 1px;
 }
    .skill{
    padding-left: 10px;
 }         
    .work .resumeLeft{
    padding-left: 15px;
 }                        
   .resumeLeft{                                                                                                                   
   padding-left: 15px;      
 }    
   .diagramN .cube{
    width: 250px;
    height: 30px;
 }  
   .gallery img{
    margin: 5px;
    
 }
 hr{
    width:  90%;
    margin-left: 15px;
 }
}


